@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    background-color: hsl(257, 40%, 49%);
    padding: 50px;
    font-size: 18px;
}
/* bg img */
.bg-img{
    position: absolute;
    z-index: 1;
    height: 100%;
}
main{
    z-index: 2;
}
/* header */
.mian-logo{
    position: relative;
    right: 10px;
}
/* left */
section{
    margin-top: 20px;
    display: flex;
    align-items:flex-sstart;
    margin-top: 50px;
}
.left{
    margin-right: 50px;
}
/* right typography*/
.right{
    margin-top: 50px;
    font-family:'Poppins', sans-serif;;
    color: hsl(0, 0%, 100%);
}
h1{
    font-size: 40px;
    max-width: 500px;
}
p{
    margin-top: 20px;
    font-weight: 400;
    opacity: .8;
    max-width: 550px;
}
/* button */
button{
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,.4);
    padding: 15px 60px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    transition: all .4s ease-in;
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}
footer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer div i{
    position: relative;
    margin-left: 50px;
    font-size: 20px;
}
.fa-facebook-f{
    margin-left: 0;
}
i::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    left: -14px;
    bottom: -11px;
}
i:hover::before{
    color: hsl(300, 69%, 71%);
}
i:hover::after{
    border:2px solid hsl(300, 69%, 71%);
}
@media (max-width:1200px) {
    .bg-img{
        display: none;
    }
    body{
        display: block;
        text-align: center;
        background-size: cover;
        background-image: url(images/bg-mobile.svg);
    }
    h1{
        font-size: 25px;
        max-width: none;
    }
    p{
        max-width: none;
    }
    section{
        flex-direction: column;
    }
    .left{
        margin-right: 0;
    }
    section img{
        /* display: none; */
        width: 100%;
    }
    footer{
        margin-top: 40px;
        justify-content: center;
    }
}
@media (min-width:500px) {
    section img{
        width: 5    0%;

    }
}
